@use "colors"

footer
  text-align: center  
  padding: 0 1rem 1rem 1rem
  display: flex
  flex-direction: column
  gap: 0.5rem

.star
  font-size: 2rem

.credits
  padding: 0 1rem

.botones
  button
    margin-right: 1rem
    font-family: amalgama
    background-color: transparent
    padding: 0.4rem 0.6rem
    border-radius: 1rem
  button:hover
    cursor: pointer

.botones-light
  button
    color: colors.$blue-crayola
    border: colors.$blue-crayola 1px solid
  button:hover
    background-color: colors.$blue-crayola
    color: white

.botones-dark
  button
    padding: 0.3rem 0.4rem 0.1rem 0.4rem
    color: colors.$red-crayola
    border: colors.$lavender-web-3 1px solid
  button:hover
    background-color: colors.$red-crayola
    color: colors.$onyx
