@font-face {
  font-family: "2097";
  src: url("../fonts/2097.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "amalgama";
  src: url("../fonts/Amalgama.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.navbar {
  background-color: #ff9900;
  width: auto;
  padding: 1.3rem 1rem;
  overflow-x: scroll;
  white-space: nowrap;
}

.links {
  color: #0575f5;
  font-family: "2097";
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.links a {
  padding: 0.4em;
}
.links a:hover, .links a:focus {
  border-radius: 9px;
  background-color: #0575f5;
  color: white;
}

@media (min-width: 700px) {
  .navbar {
    padding: 1.55rem 1rem;
  }
  .links {
    justify-content: space-around;
    font-size: 2rem;
  }
  .links a {
    padding: 0.25rem 0.4rem;
  }
}
.all {
  background-image: url("../../public/fondo2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.content {
  font-family: "amalgama";
  color: #0575f5;
}

.title {
  font-size: 1.2rem;
  padding: 1rem;
  padding-top: 2rem;
}

.subtitle {
  font-size: 1.3rem;
  padding: 1rem;
  color: #e84855;
}

.image {
  padding: 1rem;
}
.image img {
  width: 100%;
  height: auto;
  border: #ff9900 4px solid;
}

@media (min-width: 700px) {
  .title, .subtitle {
    font-size: 2rem;
    text-align: center;
  }
  .image {
    padding: 1rem 9rem;
  }
}
.project-title {
  font-size: 1.3rem;
  padding-top: 1.2rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  color: #e84855;
  text-decoration: underline;
}

.pro-title {
  padding-bottom: 0rem;
}

.project-content {
  padding-left: 1rem;
  margin-right: 1rem;
}

.project-subtitle {
  padding: 1rem;
  padding-top: 0rem;
  padding-bottom: 1rem;
}

.project-image {
  padding-left: 1rem;
  padding-right: 3rem;
}
.project-image img {
  width: 100%;
  height: auto;
  border: #ff9900 4px groove;
}

.project-description {
  padding: 1rem;
}

.project-logos {
  padding: 1rem;
  padding-top: 0rem;
}
.project-logos ul {
  display: flex;
  justify-content: space-around;
}
.project-logos li {
  display: inline-block;
}
.project-logos img {
  height: 4rem;
  width: auto;
}

@media (min-width: 700px) {
  .project-title {
    font-size: 2rem;
    text-align: center;
  }
  .project-subtitle {
    font-size: 2rem;
    text-align: center;
    padding: 0rem;
  }
  .project-image {
    padding: 1rem 9rem;
  }
  .project-description {
    font-size: 2rem;
    padding: 1rem 9rem;
    padding-bottom: 2rem;
    text-align: center;
  }
  .project-logos {
    padding: 1rem;
  }
  .project-logos ul {
    display: flex;
    justify-content: space-around;
  }
  .project-logos li {
    display: inline-block;
  }
  .project-logos img {
    height: 6rem;
    width: auto;
  }
}
.videos-content {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
}

.vid-title {
  padding-bottom: 0rem;
}

.video-title {
  padding-left: 0rem;
}

.videos {
  border: 4px inset #ff9900;
}

@media (min-width: 700px) {
  .videos {
    margin-left: 12rem;
    margin-right: 12rem;
    width: 100%;
    height: 450px;
  }
}
.prof-title {
  padding-bottom: 0.4rem;
}

.profile-title {
  padding: 1rem;
  font-size: 1.5rem;
  padding-top: 3rem;
  padding-bottom: 1rem;
}

.profile-pic {
  margin-top: 0.4rem;
  text-align: center;
  margin-bottom: 0.4rem;
}
.profile-pic img {
  width: 45%;
  height: 45%;
  border-radius: 50%;
  border: #ff9900 5px double;
}

.profile-description {
  padding-top: 0.3rem;
  padding-left: 1rem;
  padding-right: 1.5rem;
  padding-bottom: 0.4rem;
}

.sub {
  padding-top: 0rem;
  padding-bottom: 0.4rem;
}

.bio {
  padding-left: 1rem;
  padding-bottom: 1rem;
}

.lists {
  padding-left: 2rem;
}

@media (min-width: 700px) {
  .sub {
    font-size: 2.2rem;
    text-align: center;
    padding-bottom: 1.4rem;
  }
  .profile-description {
    font-size: 1.8rem;
    padding: 1rem 5rem;
    text-align: center;
    padding-bottom: 1rem;
  }
  .lists {
    list-style-type: none;
  }
  .bio {
    padding-bottom: 1rem;
  }
  .profile-pic {
    padding-left: 20rem;
    padding-right: 20rem;
  }
  .profile-pic img {
    border: #ff9900 10px double;
  }
}
.contact-all {
  min-height: 96vh;
}

.contact-links {
  font-size: 1.3rem;
  padding: 1rem;
  text-align: center;
}
.contact-links a:hover {
  color: #e84855;
  cursor: pointer;
}

.credits {
  text-align: center;
}

.button-inicio {
  font-size: 0.75rem;
  padding: 1rem;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 2rem;
}
.button-inicio a {
  padding: 0.7rem;
  border: #0575f5 1px solid;
  border-radius: 1rem;
}
.button-inicio a:hover {
  background-color: #0575f5;
  color: white;
  cursor: pointer;
}

@media (min-width: 700px) {
  .credits {
    font-size: 1.4rem;
    padding-left: 12rem;
    padding-right: 12rem;
    padding-top: 1rem;
  }
  .button-inicio {
    padding-top: 0.4rem;
    padding-bottom: 3rem;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* a {
  text-decoration: none;
}
* a:visited {
  color: #0575f5;
}

body {
  overflow-x: hidden;
}

/*# sourceMappingURL=App.css.map */
