@font-face 
  font-family: 'wipeout'
  src: url('../fonts/F5000.ttf') format('truetype')
  font-weight: normal
  font-style: normal  

@font-face 
  font-family: '2097'
  src: url('../fonts/2097.ttf') format('truetype')
  font-weight: normal
  font-style: normal  

@font-face 
  font-family: 'amalgama'
  src: url('../fonts/Amalgama.ttf') format('truetype')
  font-weight: normal
  font-style: normal  

@font-face 
  font-family: 'angular'
  src: url('../fonts/F500 Ang-ular.ttf') format('truetype')
  font-weight: normal
  font-style: normal  



$orange-peel: #ff9900ff
$blue-crayola: #0575f5ff
$mauve: #e2adf2ff
$onyx: #403f4cff
$red-crayola: #e84855ff

@import "Navbar"
@import "Home"

*
  margin: 0
  padding: 0
  box-sizing: border-box
  
  