@font-face {
  font-family: "2097";
  src: url("../fonts/2097.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "amalgama";
  src: url("../fonts/Amalgama.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
nav {
  width: auto;
  overflow-x: auto;
  white-space: nowrap;
  padding: 1rem;
}

.nav-light {
  background-color: #ff9900;
  color: #0575f5;
}

.nav-dark {
  background-color: #0575f5;
  color: #ff9900;
}

.links {
  font-family: "2097";
  font-size: 1.2rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}
.links a {
  padding: 0.25rem 0.4rem;
}
.links a:hover, .links a:focus {
  border-radius: 9px;
}

.links-light a:hover, .links-light a:focus {
  color: white;
  background-color: #0575f5;
}

.links-dark a:hover, .links-dark a:focus {
  color: #0575f5;
  background-color: #ff9900;
}

@media (min-width: 700px) {
  nav {
    padding: 1.4em 1rem;
    overflow-x: hidden;
  }
  .links {
    font-size: 1.8rem;
    justify-content: space-around;
  }
}
.star {
  font-size: 2rem;
}

.botones {
  font-size: 0.75rem;
}
.botones button {
  margin-right: 1rem;
  font-family: amalgama;
  background-color: transparent;
  padding: 0.7rem;
  border-radius: 1rem;
}
.botones button:hover {
  cursor: pointer;
}

.botones-light button {
  color: #0575f5;
  border: #0575f5 1px solid;
}
.botones-light button:hover {
  background-color: #0575f5;
  color: white;
}

.botones-dark button {
  color: #ff9900;
  border: 1px solid #0575f5;
}
.botones-dark button:hover {
  background-color: #0575f5;
}

.project-description {
  line-height: 150%;
  font-size: 1.1rem;
}

.project-logos ul {
  display: flex;
  justify-content: space-around;
}
.project-logos li {
  display: inline-block;
}
.project-logos img {
  height: 4rem;
}

@media (min-width: 700px) {
  .date {
    font-size: 1.4rem;
  }
  .project-description {
    font-size: 1.4rem;
  }
  .project-logos img {
    height: 5rem;
  }
}
.profile-pic img {
  width: 45%;
  height: 45%;
  border-radius: 50%;
  border: #ff9900 5px double;
}

.profile-description {
  font-size: 1.2rem;
  line-height: 120%;
}

.lists {
  list-style: none;
  font-size: 1.2rem;
  padding-left: 2rem;
  line-height: 140%;
  margin-bottom: -0.3rem;
}

@media (min-width: 700px) {
  .profile-pic img {
    border: #ff9900 10px double;
  }
  .profile-description {
    font-size: 1.5rem;
    text-align: center;
  }
  .lists {
    list-style-type: none;
    font-size: 1.5rem;
  }
}
.contact-links {
  font-size: 1.2rem;
}
.contact-links a:hover {
  color: #e84855;
  cursor: pointer;
}

@media (min-width: 700px) {
  .contact-links {
    font-size: 1.6rem;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* a {
  text-decoration: none;
}
* a:visited {
  color: inherit;
}

.all {
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.all-light {
  background-image: url("../../public/img-public/fondo.jpg");
  color: #0575f5;
}

.all-dark {
  background-image: url("../assets/fondo-dark.jpg");
  color: #e84855;
}

.content {
  font-family: "amalgama";
  padding: 1rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
}

.subtitle-light {
  font-size: 1.3rem;
  color: #e84855;
}

.subtitle-dark {
  font-size: 1.3rem;
  color: #e2adf2;
}

.flex-grow {
  flex: 1;
}

.top {
  margin-top: 1rem;
}

.image img {
  width: 100%;
  border: #ff9900 4px solid;
}

iframe {
  border: #ff9900 4px solid;
}

@media (min-width: 700px) {
  .content {
    width: 60%;
    margin: 0 auto;
    text-align: center;
  }
  h1 {
    font-size: 3rem;
  }
  .subtitle-light, .subtitle-dark {
    font-size: 2.4rem;
  }
  iframe {
    height: 40vh;
    max-width: 85%;
  }
}

/*# sourceMappingURL=App.css.map */
