@use 'colors'
@forward "navbar"
@forward "home"
@forward "projects"
@forward "videos"
@forward "profile"  
@forward "contact"
@forward "credits"

@font-face 
  font-family: '2097'
  src: url('../assets/fonts/2097.ttf') format('truetype')
  font-weight: normal
  font-style: normal

@font-face 
  font-family: 'amalgama'
  src: url('../assets/fonts/Amalgama.ttf') format('truetype')
  font-weight: normal
  font-style: normal

@font-face 
  font-family: 'future'
  src: url('../assets/fonts/FUTURE.otf') format('truetype')
  font-weight: normal
  font-style: normal

*
  margin: 0
  padding: 0
  box-sizing: border-box
  a
    color: inherit
    text-decoration: none
  a:visited
    color: inherit
  p
    letter-spacing: 1px 

.full-app
  display: flex
  flex-direction: column
  font-family: "amalgama"
  min-height: 90vh

.light-mode
  background-color: #71C1FB
  color: colors.$blue-crayola
  h2
    font-size: 1.3rem
    color: colors.$red-crayola

.dark-mode
  background-color: #5158BB
  color: colors.$red-crayola
  h2
    font-size: 1.3rem
    color: colors.$mauve

main
  display: flex
  flex-direction: column
  padding: 1rem
  gap: 0.5rem

.top
  margin-top: 1rem

.image
  img
    height: 100%
    width: 100%
    border: colors.$orange-peel 4px solid

.youtube-lite
  border: colors.$orange-peel 4px solid 

@media (min-width: 700px)
  main
    align-items: center
    text-align: center
  h1
    font-size: 3rem
  .light-mode, .dark-mode
    h2
      font-size: 1.7rem