@font-face {
  font-family: "2097";
  src: url("../fonts/2097.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "amalgama";
  src: url("../fonts/Amalgama.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
nav {
  width: auto;
  background-color: #ff9900;
  overflow-x: auto;
  white-space: nowrap;
  padding: 1rem;
}

.links {
  color: #0575f5;
  font-family: "2097";
  font-size: 1.2rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}
.links a {
  padding: 0.25rem 0.4rem;
}
.links a:hover, .links a:focus {
  color: white;
  background-color: #0575f5;
  border-radius: 9px;
}

@media (min-width: 700px) {
  nav {
    padding: 1.4em 1rem;
    overflow-x: hidden;
  }
  .links {
    font-size: 1.7rem;
    justify-content: space-around;
  }
}
.star {
  font-size: 2rem;
}

.button-top {
  font-size: 0.75rem;
}
.button-top button {
  font-family: amalgama;
  background-color: transparent;
  color: #0575f5;
  padding: 0.7rem;
  border: #0575f5 1px solid;
  border-radius: 1rem;
}
.button-top button:hover {
  background-color: #0575f5;
  color: white;
  cursor: pointer;
}

@media (min-width: 700px) {
  .credits {
    font-size: 1.2rem;
  }
  .button-top button {
    font-size: 0.9rem;
    padding: 0.75rem;
  }
}
.project-description {
  line-height: 150%;
  font-size: 1.1rem;
}

.project-logos ul {
  display: flex;
  justify-content: space-around;
}
.project-logos li {
  display: inline-block;
}
.project-logos img {
  height: 4rem;
}

@media (min-width: 700px) {
  .date {
    font-size: 1.4rem;
  }
  .project-description {
    font-size: 1.4rem;
  }
  .project-logos img {
    height: 5rem;
  }
}
.profile-pic img {
  width: 45%;
  height: 45%;
  border-radius: 50%;
  border: #ff9900 5px double;
}

.profile-description {
  font-size: 1.2rem;
  line-height: 120%;
}

.lists {
  font-size: 1.2rem;
  padding-left: 2rem;
  line-height: 140%;
  margin-bottom: -0.3rem;
}

@media (min-width: 700px) {
  .profile-pic img {
    border: #ff9900 10px double;
  }
  .profile-description {
    font-size: 1.8rem;
    text-align: center;
  }
  .lists {
    list-style-type: none;
    font-size: 1.8rem;
  }
}
.contact-links {
  font-size: 1.2rem;
}
.contact-links a:hover {
  color: #e84855;
  cursor: pointer;
}

@media (min-width: 700px) {
  .contact-links {
    font-size: 1.6rem;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* a {
  text-decoration: none;
  color: #0575f5;
}
* a:visited {
  color: #0575f5;
}

.all {
  background-image: url("../../public/img-public/fondo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.content {
  font-family: "amalgama";
  color: #0575f5;
  padding: 1rem;
}

.top {
  margin-top: 1rem;
}

.center {
  text-align: center;
}

.subtitle {
  font-size: 1.3rem;
  color: #e84855;
}

.image img {
  width: 100%;
  border: #ff9900 4px solid;
}

iframe {
  border: #ff9900 4px solid;
}

@media (min-width: 700px) {
  .content {
    width: 60%;
    margin: 0 auto;
    text-align: center;
  }
  h1 {
    font-size: 3rem;
  }
  .subtitle {
    font-size: 2.4rem;
  }
  iframe {
    height: 40vh;
    max-width: 85%;
  }
}

/*# sourceMappingURL=App.css.map */
