@font-face 
  font-family: '2097'
  src: url('../fonts/2097.ttf') format('truetype')
  font-weight: normal
  font-style: normal

@font-face 
  font-family: 'amalgama'
  src: url('../fonts/Amalgama.ttf') format('truetype')
  font-weight: normal
  font-style: normal

$orange-peel: #ff9900ff
$blue-crayola: #0575f5ff
$mauve: #e2adf2ff
$onyx: #403f4cff
$red-crayola: #e84855ff

@import "Navbar"
@import "Credits"
@import "Projects"
@import "Profile"
@import "Contact"

*
  margin: 0
  padding: 0
  box-sizing: border-box
  a
    text-decoration: none
    color: $blue-crayola
  a:visited
    color: $blue-crayola

.all
  background-image: url("../../public/img-public/fondo.jpg")
  background-size: cover
  background-repeat: no-repeat
  min-height: 100vh
  
.content
  font-family: "amalgama"
  color: $blue-crayola
  padding: 1rem
  display: flex
  flex-direction: column
  min-height: 100vh
 
.contact
  flex: 1

.top
  margin-top: 1rem

.center 
  text-align: center

.subtitle
  font-size: 1.3rem
  color: $red-crayola

.image    
  img
    width: 100%
    border: $orange-peel 4px solid
  
iframe
  border: $orange-peel 4px solid 

@media (min-width: 700px)
  .content
    width: 60%
    margin: 0 auto
    text-align: center
  h1
    font-size: 3rem
  .subtitle
    font-size: 2.4rem
  iframe 
    height: 40vh
    max-width: 85%

