@use "colors"

.contact-links-light
  font-size: 1.4rem
  a:hover
    color: colors.$red-crayola
    cursor: pointer

.contact-links-dark
  font-size: 1.4rem
  a:hover
    color: colors.$mauve
    cursor: pointer

@media (min-width: 700px)
  .contact-links-light, .contact-links-dark
    font-size: 1.8rem