.credits
  text-align: center
  section
    color: $mauve

.button-inicio
  font-size: 1rem
  padding: 1rem
  text-align: center
  padding-top: 2rem
  padding-bottom: 2rem
  a
    padding: 0.8rem
    border: blue 1px solid
    border-radius: 1rem
  a:hover
    background-color: $blue-crayola
    color: white
    cursor: pointer
