.star
  font-size: 2rem

.button-top
  font-size: 0.75rem
  button
    margin-right: 1rem
    font-family: amalgama
    background-color: transparent
    color: $blue-crayola
    padding: 0.7rem
    border: $blue-crayola 1px solid
    border-radius: 1rem
  button:hover
    background-color: $blue-crayola
    color: white
    cursor: pointer

