.all
  background-image: url("../../public/img-public/fondo.jpg")
  background-size: cover
  background-repeat: no-repeat
  min-height: 100vh
  
.content
  font-family: "amalgama"
  color: $blue-crayola
  padding: 1rem
  
.subtitle
  padding-top: 1rem
  font-size: 1.3rem
  color: $red-crayola

.image    
  padding-top: 1rem
  img
    width: 100%
    border: $orange-peel 4px solid

@media (min-width: 700px)
  .title,.subtitle
    font-size: 2rem
    text-align: center
  
  .image
    padding: 1rem 9rem
  


  