.all
  background-image: url("../../public/fondo2.jpg")
  background-size: cover
  background-repeat: no-repeat
  min-height: 100vh

.content
  font-family: "amalgama"
  color: $blue-crayola

//-------------------------------------------------- HOME

.title
  font-size: 1.3rem
  padding: 1rem
  padding-top: 2rem
  padding-bottom: 0

.subtitle
  font-size: 1.3rem
  padding-top: 0.5rem
  padding-left: 1rem
  padding-bottom: 4rem
  color: $red-crayola
  text-decoration: underline

.image    
  padding-left: 1rem
  padding-right: 1rem
  padding-bottom: 1rem
  img
    width: 100%
    height: auto
    border: $orange-peel 5px groove

//------------------------------------------------- PROFILE

.profile-title
  padding: 1rem
  font-size: 1.5rem
  padding-top: 3rem
  padding-bottom: 1rem
  
  
.profile-pic
  text-align: center
  img
    width: 45%
    heigth: 45%
    border-radius: 50%
    border: $orange-peel 5px groove

.profile-description      
  padding: 1rem
  padding-bottom: 2rem
    

//------------------------------------------------ CONTACT

.contact-links
  font-size: 1.3rem
  padding: 1rem
  text-align: center
  a:hover
    color: $red-crayola
    cursor: pointer

//----------------------------------------------- CREDITS

.credits
  text-align: center
  section
    color: $mauve

.button-inicio
  font-size: 1rem
  padding: 1rem
  text-align: center
  padding-top: 2rem
  padding-bottom: 2rem
  a
    padding: 0.8rem
    border: blue 1px solid
    border-radius: 1rem
  a:hover
    background-color: $mauve
    color: $onyx
    cursor: pointer



//---------------------------------------------- WEB DESIGN

@media (min-width: 700px)
  .content
    padding-left: 3rem

  .title
    font-size: 2rem

  .subtitle
    padding-bottom: 1rem
    font-size: 2rem

  .image
    padding-top: 1rem
    padding-right: 20rem

  .profile-title
    font-size: 2rem
    padding-bottom: 3rem

  .profile-pic
    padding-left: 10rem
    padding-right: 10rem
    padding-bottom: 3rem
    img
      border: $orange-peel 10px groove
  
  .profile-description
    font-size: 2rem
    padding-right: 3rem



    



  