.navbar
  background-color: $orange-peel
  width: auto
  padding: 1.4rem 1rem
  
.links
  color: $blue-crayola
  font-family: "2097"
  font-size: 1.2rem
  display: flex
  justify-content: space-around
  a
    // text-shadow: -1px 1px rgba(0, 0, 0, 0.5)
    text-decoration: none
    padding: 0.2em
  a:visited
    color: inherit
  a:hover, a:focus
    color: #ff5454
    text-decoration: underline
    
    
@media (min-width: 700px)
  .navbar
    font-size: 28px
  .links
    font-size: 2rem

