.navbar
  background-color: $orange-peel
  width: auto
  padding: 1.4rem 1rem
  
.links
  color: $blue-crayola
  font-family: "2097"
  font-size: 1.2rem
  display: flex
  justify-content: space-around
  a
    padding: 0.2em
  a:hover, a:focus
    color: $red-crayola
    // text-decoration: underline
    
    
@media (min-width: 700px)
  .navbar
    font-size: 28px
  .links
    font-size: 2rem

