.navbar
  background-color: $orange-peel
  width: auto
  padding: 1.5rem 1rem
  
.links
  color: $blue-crayola
  font-family: "2097"
  font-size: 1.2rem
  display: flex
  justify-content: space-around
  cursor: pointer
  a
    padding: 0.2em
  a:hover, a:focus
    border-radius: 9px
    background-color: $blue-crayola
    color: white
   
@media (min-width: 700px)
  .links
    font-size: 2rem
