.profile-pic
  img
    width: 45%
    height: 45%
    border-radius: 50%
    border: $orange-peel 5px double  

.profile-description
  font-size: 1.1rem
  line-height: 120%
    
.lists
  padding-left: 2rem
  line-height: 120%

@media (min-width: 700px)
  .profile-pic
    padding-left: 20rem
    padding-right: 20rem
    margin-bottom: 1rem
    img
      border: $orange-peel 10px double

  .profile-description
    font-size: 1.8rem
    padding: 1rem 5rem
    text-align: center
    padding-bottom: 1rem

  .lists
    list-style-type: none

