.profile-title
  padding: 1rem
  font-size: 1.5rem
  padding-top: 3rem
  padding-bottom: 1rem
  
.profile-description   
  // border: solid red 1px   
  padding: 1rem
  padding-bottom: 2rem
    
.profile-pic
  //border: solid red 1px
  text-align: center
  img
    width: 45%
    height: 45%
    border-radius: 50%
    border: $orange-peel 5px groove

@media (min-width: 700px)
  .profile-title
    text-decoration: underline
    font-size: 2rem
    padding-bottom: 3rem

  .profile-description
    font-size: 2rem
    padding-right: 3rem

  .profile-pic
    padding-left: 10rem
    padding-right: 10rem
    padding-bottom: 3rem
    img
      border: $orange-peel 10px groove
