.profile-title
  padding: 1rem
  font-size: 1.5rem
  padding-top: 3rem
  padding-bottom: 1rem

.profile-pic
  text-align: center
  img
    width: 45%
    height: 45%
    border-radius: 50%
    border: $orange-peel 5px groove  
  
.profile-description   
  padding-top: 0
  padding-left: 1rem
  padding-right: 1.5rem
  padding-bottom: 2rem

.bio 
  padding-left: 1rem
    
.lists
  padding-left: 2rem


@media (min-width: 700px)
  .sub
    font-size: 2.3rem
    text-align: center
    padding-bottom: 1.4rem

  .profile-description
    font-size: 2rem
    padding: 1rem 5rem
    text-align: center
    padding-bottom: 3rem

  .lists
    list-style-type: none

  .bio
    padding-bottom: 1rem

  .profile-pic
    padding-top: 1rem
    padding-left: 20rem
    padding-right: 20rem
    padding-bottom: 1rem
    img
      border: $orange-peel 10px groove
