.project-title
  font-size: 1.3rem
  padding-top: 1.2rem
  padding-bottom: 1rem
  padding-left: 1rem  
  color: $red-crayola
  text-decoration: underline

.pro-title
  padding-bottom: 0rem

.project-content
  padding-left: 1rem
  margin-right: 1rem

.project-subtitle
  padding: 1rem
  padding-top: 0rem
  padding-bottom: 1rem

.project-image
  padding-left: 1rem
  padding-right: 3rem
  
  img
    width: 100%
    height: auto
    border: $orange-peel 4px groove 
    
.project-description
  padding: 1rem
  
.project-logos
  padding: 1rem
  padding-top: 0rem
  ul
    display: flex
    justify-content: space-around
  li
    display: inline-block
  img
    height: 4rem
    width: auto

@media (min-width: 700px)
  .project-title
    font-size: 2rem
    text-align: center
  .project-subtitle
    font-size: 2rem
    text-align: center
    padding: 0rem
  .project-image
    padding: 1rem 9rem
  .project-description
    font-size: 2rem
    padding: 1rem 9rem
    text-align: center
  .project-logos
    padding: 1rem
    ul
      display: flex
      justify-content: space-around
    li
      display: inline-block
    img
      height: 6rem
      width: auto
  