.project-title
  font-size: 1.3rem
  padding-top: 2rem
  padding-bottom:  1rem
  padding-left: 1rem  
  color: $red-crayola
  text-decoration: underline

.project-subtitle
  padding: 1rem

.project-image
  padding-left: 1rem
  padding-right: 3rem
  padding-bottom: 0.7rem
  img
    width: 100%
    height: auto
    border: $orange-peel 5px groove 
    
.project-description
  padding: 1rem
  
.project-logos
  padding: 1rem
  ul
    display: flex
    justify-content: space-around
  li
    display: inline-block
  img
    height: 4rem
    width: auto

@media (min-width: 700px)
  .project-title
    font-size: 2rem
  .project-image
    padding-right: 14rem
    padding-bottom: 3rem
  .project-description
    font-size: 2rem
    padding-bottom: 2rem
    padding-right: 3rem
  .project-logos
    padding: 1rem
    ul
      display: flex
      justify-content: space-around
    li
      display: inline-block
    img
      height: 6rem
      width: auto
  