.videos-content
  padding-left: 2rem
  padding-right: 2rem
  padding-bottom: 1rem

.vid-title
  padding-bottom: 0rem
 
.video-title
  padding-left: 0rem

.videos
  border: 4px inset $orange-peel

  
@media (min-width: 700px)
  .videos
    margin-left: 12rem
    margin-right: 12rem
    width: 100%
    height: 450px

